---
import { getCollection } from 'astro:content';
import DisplayCollection from '~/components/common/DisplayCollection.astro';
import Layout from '~/layouts/Layout.astro';

const capsules = (await getCollection('diary')).filter(({ slug }) => !slug.startsWith('nancy'));
---

<Layout title="Capsules of Echoes">
  <main class="container">
    <DisplayCollection collection={capsules} name="journal" />
  </main>
</Layout>
