---
import Audio from '~/components/common/Audio.astro';
import Badge from '~/components/common/Badge.astro';
import Typography from '~/components/common/Typography.astro';
import Layout from '~/layouts/Layout.astro';
---

<Layout title="Ad Astra" subtitle='Hacia las estrellas'>
  <main class="container">
    <div class="space-y-5">
      <p>
        Toma asiento, abróchate el cinturón y prepárate para este viaje a través del tiempo y el espacio. Aquí, cada
        palabra es una señal enviada a través del cosmos, esperando encontrar su destino.
      </p>

      <ul>
        <li>
          🔹 En Echo Capsules, descubrirás memorias y pensamientos atrapados en el vacío, ecos que resuenan a través de
          las estrellas.
        </li>
        <li>
          🔹 En Transmission, encontrarás un mensaje enviado desde otro rincon del universo, una promesa, un pacto.
        </li>
        <li>
          🔹 En Signal Home, podrás enviar una señal a través del espacio a casa, cuando estés preparada para volver a estar juntos, para siempre.
        </li>
        <li>
          <Badge text="new" /> En Daily Log, puedes enviar pequeños mensajes diarios, dejando un rastro diario de tus pensamientos, como destellos que iluminan la oscuridad del espacio.
        </li>
        <li>
          <Badge text="new" /> En The Observatory, explorarás ideas y preguntas que trascienden el tiempo, reflexionando sobre los misterios del universo, la vida y todo lo que habita entre las estrellas.
        </li>
      </ul>

      <p>No importa lo lejos que estés, siempre habrá una luz brillando en la oscuridad, guiándote de vuelta. Esta será la forma de comunicarme contigo para expresar mis emociones y lo mucho que te amo, aunque pasen los años, aunque cambies de numero, esta pagina siempre estará conectada a ti.</p>

      <p>🌠 Disfruta el viaje. Las estrellas te esperan.</p>
    </div>
  </main>
</Layout>
