---

---

<div
  class="prose prose-h1:font-bold prose-h1:text-xl mx-auto prose-headings:text-white text-white
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline"
>
  <slot />
</div>
