---
import Head from '~/components/common/Head.astro';
import Header from '~/components/common/Header.astro';
import Typography from '~/components/common/Typography.astro';

interface Props {
  title: string;
  titleAlt?: string;
  subtitle?: string;
  hideTitle?: boolean;
}

const { title, titleAlt, subtitle, hideTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />
  <body class="text-white bg-black relative">
    <div
      class="fixed inset-0 -z-10 h-full w-full [background:radial-gradient(125%_120%_at_50%_0%,#000_40%,#18276b_100%)]"
    >
    </div>
    <Header />
    <div transition:animate="slide">
      {!hideTitle && <Typography as='h1' variant="h1">{titleAlt ? titleAlt : title}</Typography>}
      {subtitle && <Typography as='p' variant="subtitle">{subtitle}</Typography>}
      <div class="py-10">
      <slot />
      </div>
    </div>
  </body>
</html>

<script type="module" src="https://cdn.jsdelivr.net/npm/player.style/tailwind-audio/+esm"></script>
<script>
  import Lenis from 'lenis'
  new Lenis({
    autoRaf: true,
  });
</script>

<style>
  @import "tailwindcss/theme" theme(reference);
  @import "../styles/global.css" reference;
</style>
